.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 100px;
}

#trybewarts-header-title {
  font-size: 50px;
}

#mail-casa {
  display: flex;
  align-items: baseline;
}

#house {
  width: 210px;
  align-items: baseline;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

h1 {
  align-self:center;
  align-content: flex-start;
}

main {
  display: flex;
  justify-content: center;
}


#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 675px;
}

#div-radio, #div-checks, #div-avalia-radio, #div-text-area, #div-check-info-validation {
  margin-top: 20px;
}

#trybewarts-forms-logo{
  height: 500px;
}

#div-radio {
  padding: 0;
}

#div-radio-input {
  width: 90px;
}

#textarea {
  width: 350px;
}

footer {
  margin-top: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
}
