.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 100px;
}

#trybewarts-header-title {
  font-size: 50px;
}

#mail-casa {
  display: flex;
  align-items: baseline;
}

#house {
  width: 210px;
  align-items: baseline;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

h1 {
  align-self:center;
  align-content: flex-start;
}

main {
  display: flex;
  justify-content: space-around;
}


#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#div-radio, #div-checks, #div-avalia-radio, #div-text-area, #div-check-info-validation {
  margin-top: 20px;
}

#trybewarts-forms-logo{
  height: 500px;
}

#div-radio {
  padding: 0;
}

#div-radio-input {
  width: 90px;
}

#textarea {
  width: 350px;
}

footer {
  margin-top: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
}

/* mobile */
@media (min-width: 801px) and (max-width: 965px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #div-form-login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  #evaluation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #div-radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #div-radio-input {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  input#backend, input#fullstack {
    margin-left: 10px;
  }

  #div-avalia-radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #form-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (max-width: 595px) {

  #div-form-login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  #valid-inputs, #mail-casa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
